### KUBERNETES / INFRASTRUCTURE ###

secrets.yaml
*.key
*.crt
*.pem
*password*
.env
.env.*

kubeconfig
.kube/config
.kubeconfig

**/charts/
*.tgz
Chart.lock

kustomization-build.yaml
kustomization-patched.yaml

*.log
*.tmp
*.bak
*.swp

.DS_Store
.vscode/
.idea/
